/*#region header */

.header .header_container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header .header_left-logo {
    width: 10%;
    padding: 5px 0 5px 25px;
}

.header .header_container .header_left-logo img {
    height: auto;
}

.header .header_container .header_right-navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    height: 100%;
}

.header .header_container .header_right-navbar ul a {
    text-decoration: none;
    padding: 0px 35px;
    font-size: 18px;
    line-height: 1;
    color: #4DAAB1;
    display: flex;
    height: 100%;
    // justify-content: center;
    align-items: center;
}

.header .header_container .header_right-navbar ul a:hover {
    background-color: #4DAAB1;
    color: #ffffff;
    transition: all 0.3s;
}

.header .header_container .header_right-navbar #bg-li-end {
    color: #ffffff;
    background-color: #4DAAB1;
}


/*#endregion */


/*#region carousel */

.carousel {
    cursor: pointer;
}

.carousel .carousel-control-prev .carousel-control-prev-icon {
    background-color: rgba(213, 227, 228, 1.2);
    border-radius: 100%;
    padding: 20px 30px;
    width: 10px;
}

.carousel .carousel-control-next .carousel-control-next-icon {
    background-color: rgba(213, 227, 228, 1.2);
    border-radius: 100%;
    padding: 20px 30px;
    width: 10px;
}

.carousel .carousel-control-prev .carousel-control-prev-icon :hover {
    background-color: #4DAAB1;
}

.carousel .carousel-control-next .carousel-control-next-icon :hover {
    background-color: #4DAAB1;
}


/*#endregion */


/*#region service */

.service_slick_inside {
    margin: 0 -10px;
}

.service_slick_inside {
    display: block;
    overflow: hidden;
}

.service .img {
    position: relative;
 
   
}

.service .img .name {
    width: 100%;
    position: absolute;
    color: brown;
    font-weight: bold;
    font-family: Dancing Script;
    /* nam duoi va canh giua */
    bottom: 0px;
    height: 100%;
   
}

.service .img .name h3 {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: flex-end;
 
    
}

.service_slick_slider .img {
   
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.service .service_slick_inside .service_slick_slider .img img {
    padding: 0 10px;
    width: 100%;
    // border: 1px solid #4DAAB1;
    border-radius: 10px;
    display: block;
}

.service .img:hover img {
    transform: scale(1.1);
    transition: all 0.6s;
 
    
  
}
.service .img:hover  h3 {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    align-items: center;
    
  
}

.service .slick-prev .slick-arrow,
.service .slick-next .slick-arrow {
    display: block;
}

.service .service_slick_slider .service button {
    display: none;
}


/*#endregion */


/*#region about */

.about {
    margin-top: 35px;
    display: flex;
}

.about .about_reason span {
    margin: 0 12px;
    font-size: 50px;
    color: #4DAAB1;
    font-family: 'Dancing Script';
    font-weight: 700;
}

.about .about_reason p {
    font-family: RoBoto;
    margin: 0 12px;
    margin-bottom: 1rem;
}

.about .about_reason ul {
    margin-left: 26px;
}

.about .about_image img {
    width: 100%;
}


/*#endregion */


/*#region information */

.information {
    background-image: url(../../../img/information/about-bg.png);
    background-position: 50% 0;
    background-size: cover;
    width: 100%;
    .container .row .item {
        display: flex;
        text-align: center;
        margin-top: 120px;
        padding: 0 41px 100px 41px;
        width: 25%;
    }
}

.information .container .row .item .information_inner .information_image img {
    width: 100%;
    margin-bottom: 16px;
}

.information .container .row .item .information_inner {
    width: 100%;
    // margin-bottom: 45px;
}

.information .container .row .item .information_inner p {
    font-size: 36px;
    font-family: Dancing Script;
    font-weight: bold;
    color: #4DAAB1;
    // margin-bottom: 45px;
}


/*#endregion */


/*#region Testimonials*/

.Testimonials {
    background-color: #212529;
}

.Testimonials .carousel .carousel-inner .carousel-indicators img {
    width: 100%;
}


/*#endregion */


/*#region Gallery*/

.Gallery .item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Gallery .item .grid {
    margin-bottom: 30px;
    padding: 0 12px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    position: relative;
}


/* .Gallery .item .grid img::after{
    content: "";
    position: absolute;
    background-color: rgba(83, 77, 79, 0.6);
    top: 100px;
    width: 100%;
    height: 100%;
  
 } */

.Gallery .item .grid:hover {
    transform: scale(1.1);
}

.Gallery .item .grid img {
    width: 100%;
}


/*#endregion */


/*#region footer */

.footer {
    .footer_container {
        .footer_row {
            display: flex;
            justify-content: space-between;
        }
        li {
            list-style-type: none;
        }
    }
}


/*#endregion */