.header .header_container { display: flex; width: 100%; }
.header .header_container .header_left-logo { width: 20%; }
.header .header_container .header_left-logo img { width: 100px; }
.header .header_container .header_right-navbar { width: 80%; }
.header .header_container .header_right-navbar ul { flex-direction: row; }
.header .header_container .header_right-navbar ul li { color: #4DAAB1; list-style-type: none; }
